/* Estilização header */

header ul.nav-edit{
    display: flex;
    justify-content: center;
}

/* Estilização template main */

.msg{
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 10px;
}

main{
    width: 90%;
    margin: 0 auto;
}

/* Estilização busca nao encontrada */

section.nao-encontrado{
    margin: 20px;
    background-color: red;
    padding: 10px;
    color: white;
}


/* Estilização tela inicial */
    section.inicio {
      
        height: 20vh;
        text-align: center;
        margin-top: 2rem auto;
    }

    div.cards{

        height: 100vh;
    }

    div.header{
        margin: 2rem;
    }


/* Estilização tela sobre */




/* Estilização tela de cadastro cliente */


section.cadastrar-cliente{
    width: 70%;
    margin: 2rem auto;
}

section.cadastrar-cliente span{
    color: red;
    font-size: 18px;
}


/* Estilização formulario de cadastro OS */

section.cadastrar-os{
    width: 70%;
    margin: 2rem auto;
}

/* Estilização footer */

footer{
    background-color: #353E48;
    color: #FFF;;
    padding: 30px ;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    margin-top: 5rem;
}


