/* Estilização tela inicial */
    section.inicio {
        border: 1px solid black;
        height: 20vh;
        text-align: center;
        background-color: blanchedalmond;
        margin-top: 2rem;
    }


/* Estilização tela sobre */



