/* Estilização template main */

.msg{
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 10px;
}


/* Estilização tela inicial */
    section.inicio {
        border: 1px solid black;
        height: 20vh;
        text-align: center;
        background-color: blanchedalmond;
        margin-top: 2rem;
    }


/* Estilização tela sobre */




/* Estilização tela de cadastro cliente */


section.cadastrar-cliente{
    width: 70%;
    margin: 2rem auto;
}

section.cadastrar-cliente span{
    color: red;
    font-size: 18px;
}


/* Estilização formulario de cadastro OS */

section.cadastrar-os{
    width: 70%;
    margin: 2rem auto;
}



